<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AnonymousAccess" value="True"/>
    <add key="AnonymousAccessLimit" value="2"/>
    <add/>
  </appSettings>
  
  <connectionStrings>
		<add name="DB" providerName="System.Data.SqlClient" connectionString="Data Source={Название сервера};Initial Catalog={Название БД};Integrated Security=True;" />
		<add name="TestDB" providerName="System.Data.SqlClient" connectionString="Data Source=SCRIPTRIXPC;Initial Catalog=TestFtpDb;Integrated Security=True;" />
	</connectionStrings>
   
</configuration>